{% extends 'base.html.twig' %}

{% block body %}

<div class="relative flex w-80 flex-wrap items-stretch mb-3 ml-20">
  <input type="text" id="recherche" placeholder="Recherche recette" class="px-3 py-3 placeholder-cyanclair text-cyanfonce relative
   bg-white rounded text-lg border border-cyanclair outline-none focus:outline-none focus:ring w-full pr-20"/>
  <span class="z-10 h-full leading-snug font-normal absolute text-center text-cyanfonce absolute bg-transparent
   rounded text-3xl items-center justify-center w-8 right-10 pr-3 py-2">
   <i class="gomme hidden fas fa-eraser"></i>
  </span>
  <span class="z-10 h-full leading-snug font-normal absolute text-center text-cyanfonce absolute bg-transparent
   rounded text-3xl items-center justify-center w-8 right-0 pr-3 py-2">
   <i class="fas fa-search"></i>
  </span>
</div>
<div class="affichageRecettes">
{% for categorie in categories%}  
     <div class="w-60 ml-9 my-3">
          <h2 class="titreList font-croissant text-center text-2xl rounded-md bg-blanc py-3">{{categorie.nomCategories}}</h2>
     </div>  
     <div class="container-fluid mx-auto px-4 md:px-12">
          <div class="grid grid-cols-2 md:grid-cols-4 mx-1 lg:mx-4">
               {% for recette in recettes[categorie.id] %}
               <a href="{{path('recette',{id : recette.id})}}" >
                    <div class="my-1 px-4">
                         <article class="overflow-hidden rounded-lg shadow-md hover:shadow-xl">
                              <div class="aspect-w-1 aspect-h-1">
                                   <img src="{{LIEN_IMAGES_RECETTES}}{{recette.images.nomImages}}.{{recette.images.extensionImages}}">
                              </div>
                              <div class="ml-2">Chef : {{recette.idChef.prenomUtilisateurs }} {{recette.idChef.nomUtilisateurs }}</div>
                              {% if recette.donneUneNotes.note.moyenne != 0 %}
                                   <div class="text-right mr-2">Note : {{recette.donneUneNotes.note.moyenne |round(1, 'floor')}}/5</div>
                              {%else%}
                                   <div class="text-right mr-2">&oslash;<div>
                              {% endif %}
                             
                              <h1 class="text-sm lg:text-xl text-center font-croissant m-auto h-20 md:h-20">
                                   {{recette.nomRecettes}}      
                              </h1>
                              <div class="titleModal text-center grid grid-cols-2 font-croissant m-0 text-cyanfonce text-1xl xl:text-2xl mb-3 font-extrabold">
                                   <div class=''>
                                        <img class="inline w-8 lg:w-auto" alt='temps' src='../images/temps.png'/>
                                        {{recette.tempsMn}}<span class="text-sm">mn</span>
                                   </div>
                                   <div class=''>
                                        <img class="inline w-8 lg:w-auto" alt='personnes' src='../images/personnes.png' />
                                        {{recette.nombrePersonneRecettes}}
                                   </div>                  
                              </div>
                              <div class="grid grid-cols-1 text-center font-croissant text-cyanfonce text-xl mb-3 font-extrabold">
                                   <div class='flex-1'>
                                        Difficultée : {{recette.difficulteRecettes}}
                                   </div>       
                              </div>
                         </article>  
                    </div>
               </a> 
               {% endfor %}
          </div>
     </div>
{% endfor %}
</div>

{% endblock %}

{% block javascripts %}
     {{ parent() }}
      {{ include('/js/recettes.js.twig') }}

{% endblock %}
