<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Nesti E_Shop{% endblock %}</title>

    {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    <link href="{{ asset('styles/style.css') }}" rel="stylesheet" />
    <link rel="stylesheet" href="{{ asset('styles/cardStyle.css') }}" />
    {% endblock %}



</head>

<body>
    <header>
        {{ include('/commun/nav.html.twig') }}
    </header>
    <main>
        {% block body %}{% endblock %}
    </main>
    <footer>

    </footer>

    {% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {% endblock %}
</body>

</html>