<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Nesti E_Shop{% endblock %}</title>

    {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    <link href="{{ asset('styles/style.css') }}" rel="stylesheet" />
    <link rel="stylesheet" href="{{ asset('styles/cardStyle.css') }}" />
    {% endblock %}



</head>

<body class="flex flex-col min-h-screen ">
    <header>
        {{ include('/commun/nav.html.twig') }}
       
    </header>
    <main class="flex-grow">
     {{ include('/commun/modalLogin.html.twig') }}
     {{ include('/commun/modalPanier.html.twig') }}
     {{ include('/commun/modalModePaiement.html.twig') }}
     {{ include('/commun/modalPaiement.html.twig') }}
     {{ include('/commun/tost.html.twig') }}
        {% block body %}{% endblock %}
    </main>
    <footer>
        {{ include('/commun/footer.html.twig') }}
    </footer>

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        {{ include('/js/function.js.twig') }}
        {{ include('/js/commun.js.twig') }}
    {% endblock %}
</body>

</html>