 <script>
    var lienConnexion = document.querySelector('#lienConnexion');
    var connexion = document.querySelector('.connexion')

    let form = document.querySelector('#formConnexion');
    var tost = document.querySelector('.tost');
    var fondTost = document.querySelector('.fondTost');
    var textToast = document.querySelector('.textToast');
    
    connexion.addEventListener('click', function(event){
      event.preventDefault();
      if(lienConnexion.textContent === 'Connexion'){
        toggleModal();
      }else{
        if(document.body.classList.contains('modal-active')){
          if(document.querySelector('.modalPaiement') != null){
            toggleModalPaiement();
          }
          if(document.querySelector('.modalModePaiement') != null){
            toggleModalModePaiement();
          }
          if(document.querySelector('.modalCommentaire') != null){
            toggleModalCommentaire();
          }
        }
         
        async function run() {
          const response = await fetch('{{ path('security_logout') }}', {
            method: 'POST',
            headers: {
              'X-Requested-With': 'xmlhttprequest'
            }
          });
          let responseData = await response.json()
          if (response.ok === true & responseData.success) {
            lienConnexion.textContent = 'Connexion';
            textToast.textContent = 'Déonnexion réussi !';
            fondTost.classList.add('bg-vert');
            tost.classList.toggle('hidden');
            tost.classList.toggle('alert-toast');
            setTimeout(fermerTost, 4000, 'bg-vert');
          }
        };
        run();
      }
    })
    
    
    const overlay = document.querySelector('.modal-overlay')
    overlay.addEventListener('click', toggleModal)
    
    var closemodal = document.querySelectorAll('.modal-close')
    for (var i = 0; i < closemodal.length; i++) {
      closemodal[i].addEventListener('click', toggleModal)
    }
    
    document.onkeydown = function(evt) {
      evt = evt || window.event
      var isEscape = false
      if ("key" in evt) {
      	isEscape = (evt.key === "Escape" || evt.key === "Esc")
      } else {
    	  isEscape = (evt.keyCode === 27)
      }
      if (isEscape && document.body.classList.contains('modal-active')) {
    	  toggleModal();
        toggleModalCommentaire();
        toggleModalPanier();
      }
    };

    form.addEventListener('submit', async function (e) {
      event.preventDefault();
      let data = new FormData(form)
      try {
        let response = await fetch(form.getAttribute('action'), {
        method: 'POST',
        headers: {
          'X-Requested-With': 'xmlhttprequest'
        },
        body: data
        })
        let responseData = await response.json()
          if (response.ok === true & responseData.success) {
            toggleModal ();
            
            lienConnexion.textContent = 'Déconnexion';
            textToast.textContent = 'Connexion réussi !';
            fondTost.classList.add('bg-vert');
            tost.classList.toggle('hidden');
            tost.classList.toggle('alert-toast');
            setTimeout(fermerTost, 4000, 'bg-vert');
          }else{
            let username = document.querySelector('#username');
            let password = document.querySelector('#password');
            username.classList.add('border-rouge');
            username.classList.remove('border');
            username.classList.add('border-4');
            password.classList.add('border-rouge');
            password.classList.remove('border');
            password.classList.add('border-4');
            textToast.textContent = 'Vérifier vos identifiants ! !';
            fondTost.classList.add('bg-rouge');
            tost.classList.toggle('hidden');
            tost.classList.toggle('alert-toast');
            setTimeout(fermerTost, 4000, 'bg-rouge');

          }
      } catch (e){
        alert(e)
      }
    });


    //gestion nav petit écran
    document.getElementById("hamburger").onclick = function toggleMenu() {
        const navToggle = document.getElementsByClassName("toggle");
        for (let i = 0; i < navToggle.length; i++) {
              navToggle.item(i).classList.toggle("hidden");
        }
    };

    var nav = document.getElementById('site-menu');
    window.addEventListener('scroll', function() {
        //console.log(window.scrollY);
        if(window.scrollX > 600){
              taille = 70;
        }else{
              taille = 20;
        }
        if (window.scrollY >= taille) { 
              nav.classList.add('nav-sticky');       
        } else {
              nav.classList.remove('nav-sticky');
        }
    });

    const overlayPanier = document.querySelector('.modalPanier-overlay')
    overlayPanier.addEventListener('click', toggleModalPanier);
    
    var closemodalPanier = document.querySelectorAll('.modalPanier-close')
    for (var i = 0; i < closemodalPanier.length; i++) {
      closemodalPanier[i].addEventListener('click', toggleModalPanier)
    }

    var panierNav = document.querySelector('.panierNav');
    panierNav.addEventListener('click', function () {
      event.preventDefault();
      if(localStorage.getItem('paniers')){
          let articleLocal= JSON.parse(localStorage.getItem('paniers'));
          if(articleLocal.length > 0){
            toggleModalPanier();
          }else{
            textToast.textContent = 'Aucun élément dans votre panier ! !';
            fondTost.classList.add('bg-rouge');
            tost.classList.toggle('hidden');
            tost.classList.toggle('alert-toast');
            setTimeout(fermerTost, 4000, 'bg-rouge');
        }
      }else{
          textToast.textContent = 'Aucun élément dans votre panier ! !';
          fondTost.classList.add('bg-rouge');
          tost.classList.toggle('hidden');
          tost.classList.toggle('alert-toast');
          setTimeout(fermerTost, 4000, 'bg-rouge');
      }
    });

    viderPanier = document.querySelector('.viderPanier');
    viderPanier.addEventListener('click', function () {
      event.preventDefault();
      localStorage.removeItem('paniers');
      
      toggleModalPanier();
      gestionPanier();
      lesPaniers();
      majInputPanier();
      textToast.textContent = 'Votre panier est vide !';
      fondTost.classList.add('bg-vert');
      tost.classList.toggle('hidden');
      tost.classList.toggle('alert-toast');
      setTimeout(fermerTost, 4000, 'bg-vert');

    });

    const overlayModePaiement = document.querySelector('.modalModePaiement-overlay')
    overlayModePaiement.addEventListener('click', toggleModalModePaiement)
    
    var closemodalModePaiement = document.querySelectorAll('.modalModePaiement-close')
    for (var i = 0; i < closemodalModePaiement.length; i++) {
      closemodalModePaiement[i].addEventListener('click', toggleModalModePaiement)
    }

    var paiement = document.querySelector('.paiement');
    paiement.addEventListener('click', async function (e) {
      event.preventDefault();
      let response = await fetch('{{ path('security_getuserpaiement') }}', {
        method: 'POST',
        headers: {
          'X-Requested-With': 'xmlhttprequest'
        }
      });
      let responseData = await response.json();
      if (response.ok === true & responseData.success) {
        if(responseData.user == null){
          toggleModal();
        }else{
          let valeurPanier = document.querySelector('.valeurPanier');
          let html = '<div class="mt-5 text-2xl font-croissant text-center">Nombre de produit : ' + nbArticle + ' pour un total de : ' + total + '€</div>';
          valeurPanier.innerHTML = html;
          toggleModalModePaiement();
          
        }
      }
    });

    let bitcoin = document.querySelector('.bitcoin');
    bitcoin.addEventListener('click', function () {
      event.preventDefault();
      textToast.textContent = 'Mode de paiement non disponible !';
      fondTost.classList.add('bg-vert');
      tost.classList.toggle('hidden');
      tost.classList.toggle('alert-toast');
      setTimeout(fermerTost, 4000, 'bg-vert');

    });
    let paypal = document.querySelector('.paypal');
    paypal.addEventListener('click', function () {
      event.preventDefault();
      textToast.textContent = 'Mode de paiement non disponible !';
      fondTost.classList.add('bg-vert');
      tost.classList.toggle('hidden');
      tost.classList.toggle('alert-toast');
      setTimeout(fermerTost, 4000, 'bg-vert');

    });

    const overlayPaiement = document.querySelector('.modalPaiement-overlay')
    overlayPaiement.addEventListener('click', toggleModalPaiement)
    
    var closemodalPaiement = document.querySelectorAll('.modalPaiement-close')
    for (var i = 0; i < closemodalPaiement.length; i++) {
      closemodalPaiement[i].addEventListener('click', toggleModalPaiement)
    }

    let cartebleue = document.querySelector('.cartebleue');
    cartebleue.addEventListener('click', async function (e) {
      event.preventDefault();
      let infoPanier = document.querySelector('.infoPanier');
      infoPanier.innerHTML = '<div class="mt-5 text-2xl font-croissant text-center">Nombre de produit : ' + nbArticle + ' pour un total de : ' + total + '€</div>';
      let response = await fetch('{{ path('security_getuserpaiement') }}', {
        method: 'POST',
        headers: {
          'X-Requested-With': 'xmlhttprequest'
        }
      });
      let responseData = await response.json();
      if (response.ok === true & responseData.success) {
        if(responseData.user == null){
          toggleModal();
        }else{
          let infoUser = document.querySelector('.infoUser');
          let html = '<div>' + responseData.civilite + ' ' + responseData.prenom + ' ' + responseData.nom +'</div>';
          html += '<div>' + responseData.adresse1 +'</div>';
          html += '<div>' + responseData.adresse2 +'</div>';
          html += '<div>' + responseData.codepostal + ' ' + responseData.ville + '</div>';
          html += '<div class="mt-2">' + responseData.email + '</div>';

          infoUser.innerHTML = html;
          toggleModalPaiement();
        }
      }
    });

    let paiementCB = document.querySelector('.paiementCB');
    paiementCB.addEventListener('click', async function (e) {
      event.preventDefault();
      let response = await fetch('{{ path('security_getuserpaiement') }}', {
        method: 'POST',
        headers: {
          'X-Requested-With': 'xmlhttprequest'
        }
      });
      let responseData = await response.json();
      if (response.ok === true & responseData.success) {
        if(responseData.user == null){
          toggleModal();
        }else{
          
          let typeCarte = document.querySelector('#typeCarte').value;

          let flag = false;
          let nom = document.querySelector('#nom');
          nom.classList.add('border-gray-200');
          nom.classList.remove('border-rouge');
          if(nom.value == ""){
            nom.classList.remove('border-gray-200');
            nom.classList.add('border-rouge');
            flag = true;
          }

          let numero = document.querySelector('#numero');
          numero.classList.add('border-gray-200');
          numero.classList.remove('border-rouge');
          if(numero.value == ''){
            numero.classList.remove('border-gray-200');
            numero.classList.add('border-rouge');
            flag = true;
          }

          let numeroSecurite =  document.querySelector('#numeroSecurite');
          numeroSecurite.classList.add('border-gray-200');
          numeroSecurite.classList.remove('border-rouge');
          if(numeroSecurite.value == '' | !(/^[0-9]{3}$/.test(numeroSecurite.value))){
            numeroSecurite.classList.remove('border-gray-200');
            numeroSecurite.classList.add('border-rouge');
            flag = true;
          }
          
          if(flag){
            tostPaiement();
          }else{
            if(!checkCreditCard (numero.value, typeCarte)){
              textToast.textContent = ccErrors[ccErrorNo] ;
              fondTost.classList.add('bg-rouge');
              tost.classList.toggle('hidden');
              tost.classList.toggle('alert-toast');
              setTimeout(fermerTost, 4000, 'bg-rouge');
            }else{
              let response = await fetch('{{ path('security_validcommande') }}', {
                method: 'POST',
                headers: {
                  'X-Requested-With': 'xmlhttprequest'
                },
                body : localStorage.getItem('paniers')
              });
              let responseData = await response.json();
              if (response.ok === true & responseData.success) {
                  localStorage.removeItem('paniers');
      
                  toggleModalPanier();
                  toggleModalPaiement();
                  toggleModalModePaiement();
                  gestionPanier();
                  lesPaniers();
                  majInputPanier();
                  textToast.textContent = 'Votre commande est validée !';
                  fondTost.classList.add('bg-vert');
                  tost.classList.toggle('hidden');
                  tost.classList.toggle('alert-toast');
                  setTimeout(fermerTost, 3000, 'bg-vert');
                  setTimeout(reload, 4000);

              }
            }
          }
        }
      }

    }); 
    function reload(){
      document.location.reload();
    }

    if({% if connexion is defined and connexion == 1%}true{%else%}false{%endif%}){
      toggleModal();
    }
  </script>